html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*, *::before, *::after{ box-sizing: inherit;}

body {
	background-color: #50c878;
	font-family: "Montserrat";
}

h1 {font-size: 3em}

.heading {
	text-align: center;
	padding: 2em 0 2em 0;
}

.subheading {
	font-size: 1.5em;
	font-style: italic;
	font-weight: medium;
	margin-top: -25px;
}

.socials a {
	color: #171616;
	margin: 0 7px;
}

.about-me {  
    background-color: #fff;
    border-radius: 2%;
    margin: 2em;
    padding: 3em;
}

.wrapper {display: flex;}

.container {flex-wrap: all;}

.paragraph { 
	padding:1em 0 0 3em; 
	font-size: 1em;
}

.skills li {list-style: none;}

.skills li:before {
  content: "▹";
  padding-right: 0.1em;
  color: #50c878;
}

.projects {  
	background-color: #fff;
	border-radius: 2%;
	margin: 2em;
	padding: 3em;
}

.contact-form {  
	background-color: #fff;
	border-radius: 2%;
	margin: 2em;
	padding: 3em;
}

input, textarea {
	padding: 1.2em;
	width: 90%;
	height: 30%;
	margin-top: 1em;
}

button{
	padding: 1em;
	background-color: #50c878;
	border-style: none;
	width: 10%;
}

button a { 
	color:#171616;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.3em;
 }

footer p{ 
	text-align: center;
	padding: 5em 0 5em 0;
	font-size: 1em;  
}

/**Responsiveness**/

@media only screen and (max-width: 600px) {

.wrapper {display: block;}

.paragraph { 
	font-size: 1em;
	padding: 0;
}

.skills li {
	position: relative;
	right: 50px;
	top: 3px;
	list-style: none;
}

button{width: 50%;}

}